<!DOCTYPE HTML>
<html>
  <head><title>FBI Agent</title>
  
  </head>
  <body>
    <h1>1. What weapon do you want to bring on your mission?</h1>
    <p>
      a) Banana peel
      b) Nunchucks
      c) Spray Bottle
      Please type in a, b, or c
    </p>
    <h2>2. Who do you want to accompany you?</h2>
    <p>
      a) Bubbles (a friendly goldfish)
      b) Toby (elementary school dropout)
      c) You mom (cleaner/maid)
      Please type in a, b, or c
    </p>
    <h3>3. What's your form of transportation?</h3>
    <p>
      a) An electric scooter from your neighbor's yard
      b) Uber with an underage driver
      c) Wonder Woman's invisible jet (she loans it to FBI agents in training)
      Please type in a, b, or c
    </p>
    <h4>4. Finally, you find the suspected criminal drinking coffee in a Starbucks. Do you...</h4>
    <p>
      a) Grab a coffee and sit down to chat with them
      b) Make a public spectacle in arresting him
      c) Start a flash mob to the song Smooth Criminal by Michael Jackson
      Please type in a, b, or c
    </p>
    
  </body>
  
</html>